body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.mTop24px{
    margin-top:24px;
}
.nav{
    background-color: blueviolet;
}
.nav_title{
    color:white;
    margin: 0;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    font-size: 48px;
}
.product{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.product__container{
    border: 1px solid gray;
    padding: 20px;
    border-radius: 8px;
}
.product__img{
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.product__name{
    margin-top: 24px;
    color:blueviolet;
}
.product__price{
    padding: 4px 8px;
    border-radius: 8px;
    background-color: rgb(235,214,254);
}
p{
    color: gray;
}
.product__add{
    display: flex;
    justify-content: right;
}
.addInBag{
    text-align: center;
    padding:8px 16px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    font-weight: 400;
    color: white;
    background-color: blueviolet;
}
hr{
    margin-top: 20px;
    border:1px solid blueviolet;
}
.footer{
}
.footer__content{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0;
    margin-bottom: 40px;
    color: gray;
}